/* .vitepress\theme\style\blur.css */
/* 首页下滑后导航透明 */

/* 搜索框透明 */
.DocSearch-Button {
    background-color: rgba(233, 233, 233, 0.3);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);

}

/* 文档页侧边栏顶部透明 */
.curtain {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}

@media (min-width: 1280px) {

    /* 文档页导航中间透明 */
    .VPNavBar:not(.home.top) .content-body {
        background-color: rgba(255, 255, 255, 0) !important;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
    }
}

/* 移动端大纲栏透明 */
.VPLocalNav {
    background-color: rgba(255, 255, 255, 0) !important;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
}
