/* index.css */
@import './var.css';
@import "./blur.css";
@import "./style.css";
@import "./custom-block.css";
@import "./vp-code.css";
@import "./vp-code-group.css";
@import "./marker.css";
/*纪念日字体*/
@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');