/* .vitepress/theme/style/marker.css */

.marker-dynamic {
    white-space: nowrap;
    position: relative;
    text-decoration: none !important;
}

.marker-dynamic:after {
    text-decoration: none !important;
    content: '';
    position: absolute;
    z-index: -1;
    top: 66%;
    left: 0em;
    right: 0em;
    bottom: 0;
    transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
    background: linear-gradient(90deg, rgba(255, 68, 34, 0.4), rgba(255, 183, 0, 0.4));
}

.marker-dynamic:hover:after {
    top: 0%;
    text-shadow: none;
    text-decoration: none !important;
}