.m-nav-layout {
  .content .copyright {
    display: none;
  }

  /* tip */
  .tip {
    .custom-block-title {
      display: none;
    }
    p {
      margin: 0;
    }
  }

  .vp-doc h2 {
    margin-top: 24px;
  }
}

.medium-zoom-overlay {
  z-index: 0;
}

.medium-zoom-image {
  z-index: 0;
}

.vp-doc a::after{
    display: none !important;
}

.vp-doc a{
  text-decoration: none !important;
}