/* .vitepress/theme/style/var.css */
.VPNavBarTitle .title{
    font-weight: 900 !important;
}

.VPHomeHero .text{
    font-size: 36px;
    color: grey;
}

h1 {
    color: #1e2136;
}

.dark h1 {
    color: #edf4ff;
}

.vp-doc a{
    text-decoration: none;
    border-radius: 12px;
    padding: 2px 12px;
    margin: 0 4px;
    background-color: #e6efff;
    transition: background-color 0.3s, color 0.25s, opacity 0.25s;
}

.vp-doc a:hover{
    background-color: #c5dfff;
}

.vp-doc a code{
    background: none;
    border: none;
}

:root.dark .vp-doc a{
    background-color: #28367e;
}

:root.dark .vp-doc a:hover{
    background-color: #000962;
}

.vp-doc .header-anchor{
    display: none;
}

.custom-block.warning a{
    color: #ab8800;
    background-color: rgba(255, 221, 0, 0.13);
}

.dark .custom-block.warning a{
    color: #ffeb3b;
    background-color: rgba(255, 221, 0, 0.13);
}

.custom-block.warning code{
    background-color: rgba(255, 221, 0, 0.13);
    border-radius: 6px;
    padding: 2px 4px;
    color: #ab8800;
    font-weight: bold;
}

.dark .custom-block.warning code{
    color: #ffeb3b;
}

.custom-block.tip a{
    color: #1d7925;
    background-color: rgba(24, 231, 0, 0.13);
}

.dark .custom-block.tip a{
    color: #00e312;
    background-color: rgba(24, 231, 0, 0.13);
}

.custom-block.tip code {
    background-color: rgba(24, 231, 0, 0.13);
    border-radius: 6px;
    padding: 2px 4px;
    color: #1d7925;
    font-weight: bold;
}

.dark .custom-block.tip code{
    color: #00e312;
}

.medium-zoom-overlay {
    z-index: 30;
}

.medium-zoom-image{
    z-index: 1 !important;
}

.medium-zoom-image--opened {
    z-index: 999 !important;/* 给的值是21，但是实测盖不住，直接999 */
}

.love-anniversary{
    color:black;
    font-weight: 1000;
    font-size: 22px;
    line-height: 22px;
    border-radius:24px;
    background-color:rgba(255, 182, 193, 1);
    padding: 6px 16px;
    font-family: "Cookie", cursive;
}

.shell{
    padding: 18px !important;
    border-radius: 12px !important;
}

.search-bar{
    border-radius: 8px !important;
}